.container{
    display: flex;
    border:1px solid black;
    justify-content: space-between;
    padding:5px;
}
.container1{
    display: flex;
    justify-content: space-between;
}
.userName{
    padding-right: 10px;
    font-weight: bold;
}
.date{
    
}
.text{
    align-self: flex-start;
}