.container{
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url('../../images/background-login.jpg');
    background-size: cover; 
    height: 120vh;
    padding-bottom: 15px;
    padding-top: 15px;

}
.imageContainer{
    
}
.likeContainer{
    display: flex;
    align-items: center;
}
.likeIcon{
    color:#9e9ea7;
    margin-right: 3px;
}
.likedIcon{
    margin-right: 3px;
    color:#ea4c89;
    cursor:pointer;
}
.likeIcon:hover{
    color:#ea4c89;
    cursor:pointer;
}
.commentIcon{
    color:#9e9ea7;
    margin-right: 3px;
}
.commentContainer{
    display: flex;
    align-items: center;
}
.iconContainer{
    display: flex;
    justify-content: space-between;
}
.commentInput{
    width: 100%;
}
.commentContainer2{
    list-style-type: none;
    padding:0;
}
.artWork{
    border-radius: 15px;
}
.userImage{
    border-radius: 25px;
    height: 30px;
    width: auto;
    margin-right: 5px;
}
.userInforContainer{
    display: flex;
    align-items: center;
}
.description{
    margin-top: 10px;
    margin-bottom: 10px;
}